@charset "UTF-8";
/*ベーススタイル*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.7;
  font-size: 16px;
  overflow: hidden;
  max-width: 100%;
  word-break: break-all;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border: none;
  object-fit: cover;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  opacity: 0.6;
}

ul {
  list-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="submit"] {
  width: 100%;
  font-size: inherit;
  border: 1px solid #333;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: 0;
}

input[type="submit"] {
  transition: 0.3s;
}

input[type="submit"]:hover {
  opacity: 0.6;
}

textarea {
  width: 100%;
  font-size: inherit;
  border: 1px solid #333;
  resize: none;
}

::placeholder {
  opacity: 1;
  color: #333;
}

.sp-none {
  display: none;
}

.content-width {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1070px;
}

.header {
  background: #fff;
  height: 90px;
  padding: 15px 0;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__left--logo {
  margin: 0;
}

.header__left--logo a {
  color: #333;
}

.header__left--logo a img {
  display: inline-block;
  margin-right: 5px;
  width: 26px;
  height: auto;
  vertical-align: middle;
}

.header__left--tel {
  margin: 0;
}

.header__left--tel a {
  color: #003A6A;
}

.header__left--tel a img {
  display: inline-block;
  width: 24px;
  height: auto;
  vertical-align: middle;
  margin-right: 5px;
}

.header__right {
  margin-left: auto;
  width: 150px;
  height: 40px;
  padding: 10px;
  background: #003A6A;
  text-align: center;
  line-height: 16px;
}

.header__right--btn span {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-right: 10px;
  position: relative;
  font-weight: 300;
}

.header__right--btn span::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 0%;
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin-top: -2px;
}

.main__visual {
  width: 100%;
  height: 600px;
}

.main__visual--place {
  width: 100%;
  height: 50px;
  background: #1E6EAF;
}

.main__visual--place img {
  width: 335px;
}

.main__visual--image {
  width: 100%;
  background: url(/image/main-bk.jpg) no-repeat center center/cover;
}

.main__visual--image img.main__visual--logo {
  width: 100px;
}

.main__visual--content {
  width: 100%;
  height: 320px;
}

@media (min-width: 480px) {
  /*ベーススタイル*/
  body {
    font-size: 18px;
  }
  .content-width {
    padding: 0 30px;
  }
  .header__left--tel a {
    letter-spacing: 1.4px;
  }
}

@media (min-width: 600px) {
  /*600px以上959px以下*/
  /*ベーススタイル*/
  body {
    font-size: 20px;
  }
  .sp-none {
    display: block;
  }
  .tab-none {
    display: none;
  }
  .content-width {
    padding: 0 45px;
  }
  .header {
    height: 140px;
  }
  .header__left--logo a {
    font-size: 30px;
  }
  .header__left--logo a img {
    width: 38px;
    height: auto;
  }
  .header__left--tel a {
    font-size: 32px;
  }
  .header__left--tel a img {
    width: 32px;
  }
  .header__right {
    width: 240px;
    height: 60px;
    padding: 10px 20px;
    line-height: 30px;
  }
  .header__right--btn span {
    font-size: 30px;
    padding-right: 20px;
  }
  .header__right--btn span::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 0%;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    margin-top: -2px;
  }
}

@media (min-width: 960px) {
  /*960px以上1279px以下*/
  .tab-none {
    display: block;
  }
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
  .content-width {
    width: 100%;
    margin: 0 auto;
    padding: 0 150px;
    max-width: 1070px;
  }
}
/*# sourceMappingURL=style.css.map */