/*ベーススタイル*/

//タグスタイル

body {
  font-size: 18px;
}

//共通クラス
.content-width {
  padding: 0 30px;
}

//header
.header__left--tel {
  a {
    letter-spacing: 1.4px;
    img {
    }
  }
}
//main__visual
.main__visual--image {
  margin-top: -5px;
  background-position: bottom;
  height: 300px;
}
.main__visual--content {
  height: 280px;
}

//needs

.needs__lead--heading {
  font-size: 32px;
  span.fifty {
    font-size: 48px;
  }
  span.needs__lead--border {
    padding: 0 13px;
    &::before {
      height: 75px;
    }
    &::after {
      height: 75px;
    }
  }
}
.needs__Q{
  padding-bottom: 1px;
}
.needs__Q--lead {
  & > img:first-child {
    width: 45px;
    height: 110px;
  }
  & > img:last-child{
    width: 39px;
    height: 114px;
  }
}
.needs__Q--heading {
  h2 {
    font-size: 24px;
    &::before {
      
      width: 25px;
      height: 25px;
    }
    span.dot {
      font-size: 36px;
    }
  }
}
.needs__Q--description {
  padding: 10px 25px;
  p {
    font-size: 18px;
    text-indent: -1rem;
    &::before {
      width: 25px;
      height: 25px;
    }
  }
}

.needs__A--description {
  tr {
    td {
      span {
        font-size: 30px;
      }
    }
  }
}
