/*ベーススタイル*/

//タグスタイル

body {
  font-size: 18px;
}

//共通クラス
.content-width {
  padding: 0 30px;
}

//header
.header__left--tel {
  a {
    letter-spacing: 1.4px;
    img {
    }
  }
}
//main__visual
.main__visual--image {
  margin-top: -5px;
  background-position: bottom;
  height: 300px;
}
.main__visual--content {
  padding: 30px 80px;
}

//needs

.needs__lead--heading {
  font-size: 32px;
  span.fifty {
    font-size: 48px;
  }
  span.needs__lead--border {
    padding: 0 13px;
    &::before {
      height: 75px;
    }
    &::after {
      height: 75px;
    }
  }
}
.needs__Q {
  padding-bottom: 1px;
}
.needs__Q--lead {
  & > img:first-child {
    width: 45px;
    height: 110px;
  }
  & > img:last-child {
    width: 39px;
    height: 114px;
  }
}
.needs__Q--heading {
  h2 {
    font-size: 24px;
    &::before {
      width: 25px;
      height: 25px;
    }
    span.dot {
      font-size: 36px;
    }
  }
}
.needs__Q--description {
  .needs__Q--description__p {
    display: flex;
    p {
      margin: -8px 0 15px 5px;
      font-size: 24px;
    }
    img {
      display: inline-block;
      width: 30px;
      height: 100%;
    }
  }
}

.needs__A--description {
  tr {
    td {
      span {
        font-size: 30px;
      }
    }
  }
}

//contact
.contact {
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact__heading {
  font-size: 30px;
}
.contact__btn--green {
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.contact__btn--date {
  font-size: 24px;
}
.contact__btn--orange {
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}

//about
.about {
}
.about__company {
  height: 400px;
  h1 {
    font-size: 56px;
  }
}

.about__description--wrapper {
  font-size: 24px;
  .about__description--50 {
    height: 300px;
  }
  .about__description--50__wrapper {
    p {
      font-size: 24px;
      img {
        width: 120px;
      }
    }
    & p:nth-child(3) {
      margin-top: 15px;
      font-size: 32px;
    }
    & p:nth-child(4) {
      font-size: 32px;
    }
  }
  .about__description--arrow {
    img {
      width: 140px;
    }
    p {
      font-size: 20px;
      top: calc(40% - 10px);
      transform: translate(-50%, -60%);
    }
  }
  .about__description--point {
    font-size: 24px;
    th {
      img {
        width: 35px;
        margin-right: 10px;
      }
    }
  }
}

//merit
.merit__heading {
  height: 300px;
}
.merit__heading--wrapper {
  h1 {
    font-size: 32px;
  }
}
.merit__kinds {
  padding: 40px 20px;
}
.merit__kinds--wrapper {
  padding-top: 30px;
  padding-bottom: 50px;
}
.merit__kind {
  .merit__kinds--title {
    margin-left: -20px;
  }
  p {
    font-size: 24px;
  }
  &:nth-child(2) {
    .merit__kinds--title {
      margin-left: 0;
      margin-right: -20px;
    }
  }
}

//company
.company__heading {
  padding-top: 60px;
  padding-bottom: 40px;
  h1 {
    font-size: 64px;
  }
  .company__heading--text {
    margin-top: 60px;
    img {
    }
  }
}
.company__data--wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 24px;
  }
  ul {
    li {
      font-size: 24px;
    }
  }
}

//voice
.voice__kinds--wrapper {
  margin-top: -100px;
}
.voice__kind {
  margin-top: 100px;
  p {
    font-size: 24px;
  }
  span.voice__kind--merker {
    font-size: 24px;
  }
}

.voice__kind--title {
  border-spacing: 30px 0;
  th {
    img {
      width: 120px;
    }
  }
  td {
    span {
      font-size: 24px;
    }
  }
}
.voice__example {
  padding: 40px;
}
.voice__example--wrapper {
  h2 {
    font-size: 32px;
    top: 2%;
  }
  p {
    font-size: 24px;
    span {
      font-size: 24px;
    }
  }
}

//flow
.flow__heading {
  padding: 45px 15px;
  h1 {
    font-size: 54px;
  }
}
.triangle {
  height: 450px;
  padding-top: 85px;
}
.triangle__heading {
  img {
    margin-right: 20px;
    width: 100px;
    max-height: 100px;
  }
  h2 {
    font-size: 26px;
  }
}
.triangle__text {
  padding: 20px 0;
  p {
    font-size: 24px;
  }
}
.triangle01 {
  padding-top: 30px;
  &:before {
    bottom: -70px;
    border-width: 70px 52vw 0 52vw;
  }
  &:after {
    bottom: -68px;
    border-width: 70px 52vw 0 52vw;
  }
}
.triangle02 {
  background: #5692c3;
  &:before {
    bottom: -70px;
    border-width: 70px 52vw 0 52vw;
  }
  &:after {
    bottom: -68px;
    border-width: 70px 52vw 0 52vw;
  }
}
.triangle03 {
  background: #6da1cb;
  &:before {
    bottom: -70px;
    border-width: 70px 52vw 0 52vw;
  }
  &:after {
    bottom: -68px;
    border-width: 70px 52vw 0 52vw;
  }
}
.triangle04 {
  background: #83afd3;
  &:before {
    bottom: -70px;
    border-width: 70px 52vw 0 52vw;
  }
  &:after {
    bottom: -68px;
    border-width: 70px 52vw 0 52vw;
  }
}
.triangle05 {
  background: #9abedb;
  &:before {
    bottom: -70px;
    border-width: 70px 52vw 0 52vw;
  }
  &:after {
    bottom: -68px;
    border-width: 70px 52vw 0 52vw;
  }
}
.triangle06 {
  background: #b0cce3;
  .triangle__text {
    p {
      color: $cBlue;
    }
  }
}

//FAQ
.FAQ__heading {
  h1 {
    font-size: 54px;
  }
}
.FAQ__list {
  margin-top: 30px;
  &:first-child {
    margin-top: 0;
  }
}
.FAQ__list--qa {
  display: flex;
  align-items: start;
  margin-bottom: 40px;
  img {
    width: 28px;
  }
  p {
    margin: -5px 0 0 30px;
    font-size: 24px;
  }
}
.FAQ__img {
  padding: 40px 0;
}
.FAQ__img--wrapper {
  h2 {
    font-size: 30px;
    margin: 20px 0 40px 0;
    padding: 0 15px;
    &::before {
      height: 80px;
    }
    &::after {
      height: 80px;
    }
  }
  p {
    font-size: 30px;
  }
}
