/*ベーススタイル*/

//タグスタイル

body {
  font-size: 18px;
}

//共通クラス
.content-width {
  padding: 0 30px;
}

//header
.header__left--tel {
  a {
    letter-spacing: 1.4px;
    img {
    }
  }
}
//main__visual
.main__visual--image {
  margin-top: -5px;
  background-position: bottom;
  height: 300px;
}
.main__visual--content {
  height: 280px;
}
