/*600px以上959px以下*/
/*ベーススタイル*/

//タグスタイル

body {
  font-size: 20px;
}

//共通クラス
.sp-none {
  display: block;
}
.tab-none {
  display: none;
}
.content-width {
  padding: 0 45px;
}

//header
.header {
  height: 140px;
}
.header__left--logo {
  a {
    font-size: 30px;
    img {
      width: 38px;
      height: auto;
    }
  }
}
.header__left--tel {
  a {
    font-size: 32px;
    img {
      width: 32px;
    }
  }
}

.header__right {
  width: 240px;
  height: 60px;
  padding: 10px 20px;
  line-height: 30px;
}
.header__right--btn {
  span {
    font-size: 30px;
    padding-right: 20px;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      top: 50%;
      right: 0%;
      width: 10px;
      height: 10px;
      border-top: 2px solid $cWhite;
      border-right: 2px solid $cWhite;
      transform: rotate(45deg);
      margin-top: -2px;
    }
  }
}

//main__visual
.main__visual {
  width: 100%;
  height: auto;
}
.main__visual--place {
  width: 100%;
  height: 50px;
  background: $cBlue;
  text-align: center;
  img {
    width: 335px;
    display: inline-block;
  }
}
.main__visual--image {
  width: 100%;
  height: 400px;
  background: url(/image/main-bk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 25%;
  position: relative;
  img.main__visual--logo {
    position: absolute;
    width: 75px;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
  }
  img.main__visual--sub {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 215px;
  }
}

.main__visual--content {
  padding: 40px 100px;
}

//needs
.needs__lead--heading {
  font-size: 40px;
  span.fifty {
    font-size: 56px;
  }
  span.needs__lead--border {
    padding: 0 13px;
    &::before {
      height: 75px;
    }
    &::after {
      height: 75px;
    }
  }
}
.needs__Q {
  
  padding-bottom: 1px;
}
.needs__Q--lead {
  
  & > img:first-child {
    width: 50px;
    height: 120px;
  }
  & > img:last-child{
    width: 45px;
    height: 125px;
  }
}
.needs__Q--heading {
  h2 {
    font-size: 32px;
    &::before {
      
      width: 30px;
      height: 30px;
    }
    span.dot {
      font-size: 48px;
    }
  }
}

.needs__Q--description {
  padding: 35px;
  .needs__Q--description__p {
    display: flex;
    p{
      margin: -10px 0 25px 10px;
      font-size: 32px;
    }
    img{
      display: inline-block;
      width: 35px;
      height: 100%;
    }
  }
}
.needs__A--description {
  tr {
    td {
      span {
        font-size: 40px;
      }
    }
  }
}
//contact
.contact{
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact__heading{
  font-size: 40px;
}
.contact__btn--green{
  font-size: 32px;
}
.contact__btn--date{
  font-size: 32px;
}
.contact__btn--orange{
  font-size: 32px;
}

//about
.about{

}
.about__company{
  height: 590px;
  h1{
    font-size: 72px;
  }
}

.about__description--wrapper{
  font-size: 32px;
  .about__description--50{
    height: 400px;
  }
  .about__description--50__wrapper{
    p{
      font-size: 32px;
      img{
        width: 160px;
      }
    }
    & p:nth-child(3){
      margin-top: 20px;
      font-size: 40px;
    }
    & p:nth-child(4){
      font-size: 40px;
    }
  }
  .about__description--arrow{
    img{
      width: 200px;
    }
    p{
      font-size: 27px;
      top: calc(40% - 10px);
      transform: translate(-50%, -60%);
    }
  }
  .about__description--point{
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 30px;
    th{
      img{
        width: 40px;
        margin-right: 10px;
      }
    }
  }
}

//merit
.merit__heading{
  height: 380px;
}
.merit__heading--wrapper{
  h1{
    font-size: 40px;
  }
}
.merit__kinds{
  padding: 50px 30px;
}
.merit__kinds--wrapper{
  padding-top: 50px;
  padding-bottom: 40px;
}
.merit__kind{
  .merit__kinds--title{
    margin-left: -20px;
  }
  p{
    font-size: 24px;
  }
  &:nth-child(2){
    .merit__kinds--title{
      margin-left: 0;
      margin-right: -20px;
    }
  }
}

//company
.company__heading{
  padding-top: 80px;
  padding-bottom: 50px;
  h1{
    font-size: 80px;
  }
  .company__heading--text{
    margin-top: 70px;
    img{

    }
  }
}
.company__data--wrapper{
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
    font-size: 32px;
  }
  p{
    font-size: 32px;
  }
  ul{
    padding-left: 1rem;
    li{
      font-size: 32px;
    }
  }
}

//voice
.voice__kinds--wrapper{
  margin-top: -200px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.voice__kind {
  margin-top: 200px;
  p{
    font-size: 32px;
  }
  span.voice__kind--merker{
    font-size: 32px;
  }
}
.voice__kind--title{
  border-spacing: 50px 0;
  th{
    img{
      width: 150px;
    }
  }
  td{
    span{
      font-size: 32px;
    }
  }
}
.voice__example{
  padding: 60px;

}
.voice__example--wrapper{
  h2{
    font-size: 40px;
    top: 2%;
  }
  p{
    font-size: 32px;
    span{
      font-size: 32px;
    }
  }
}
