/*600px以上959px以下*/
/*ベーススタイル*/

//タグスタイル

body {
  font-size: 20px;
}

//共通クラス
.sp-none {
  display: block;
}
.tab-none {
  display: none;
}
.content-width {
  padding: 0 45px;
}

//header
.header {
  height: 140px;
}
.header__left--logo {
  a {
    font-size: 30px;
    img {
      width: 38px;
      height: auto;
    }
  }
}
.header__left--tel {
  a {
    font-size: 32px;
    img {
      width: 32px;
    }
  }
}

.header__right {
  width: 240px;
  height: 60px;
  padding: 10px 20px;
  line-height: 30px;
}
.header__right--btn {
  span {
    font-size: 30px;
    padding-right: 20px;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      top: 50%;
      right: 0%;
      width: 10px;
      height: 10px;
      border-top: 2px solid $cWhite;
      border-right: 2px solid $cWhite;
      transform: rotate(45deg);
      margin-top: -2px;
    }
  }
}

//main__visual
.main__visual {
  width: 100%;
  height: auto;
}
.main__visual--place {
  width: 100%;
  height: 50px;
  background: $cBlue;
  text-align: center;
  img {
    width: 335px;
    display: inline-block;
  }
}
.main__visual--image {
  width: 100%;
  height: 400px;
  background: url(/image/main-bk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 25%;
  position: relative;
  img.main__visual--logo {
    position: absolute;
    width: 75px;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
  }
  img.main__visual--sub {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 215px;
  }
}
.main__visual--content {
  width: 100%;
  height: 320px;
  background: linear-gradient(to bottom, $cBlue, $cBlueBk 30%, $cBlue);
  position: relative;
  img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//needs
.needs__lead--heading {
  font-size: 40px;
  span.fifty {
    font-size: 56px;
  }
  span.needs__lead--border {
    padding: 0 13px;
    &::before {
      height: 75px;
    }
    &::after {
      height: 75px;
    }
  }
}
.needs__Q {
  
  padding-bottom: 1px;
}
.needs__Q--lead {
  
  & > img:first-child {
    width: 50px;
    height: 120px;
  }
  & > img:last-child{
    width: 45px;
    height: 125px;
  }
}
.needs__Q--heading {
  h2 {
    font-size: 32px;
    &::before {
      
      width: 30px;
      height: 30px;
    }
    span.dot {
      font-size: 48px;
    }
  }
}

.needs__Q--description {
  padding: 10px 35px;
  p {
    font-size: 20px;
    text-indent: -1.5rem;
    &::before {
      width: 30px;
      height: 30px;
    }
  }
}
.needs__A--description {
  tr {
    td {
      span {
        font-size: 40px;
      }
    }
  }
}
//contact
.contact{
  padding-top: 30px;
  padding-bottom: 30px;
}