/*ベーススタイル*/

//タグスタイル
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.7;
  font-size: 16px;
  overflow-x: hidden;
  max-width: 100%;
  word-break: break-all;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border: none;
  object-fit: cover;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
ul {
  list-style: none;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="submit"] {
  width: 100%;
  font-size: inherit;
  border: 1px solid $cBlack;
  border-radius: 5px;
}
input[type="text"]:focus {
  outline: 0;
}
input[type="submit"] {
  transition: 0.3s;
  &:hover {
    opacity: 0.6;
  }
}
textarea {
  width: 100%;
  font-size: inherit;
  border: 1px solid $cBlack;
  resize: none;
}
::-webkit-input-placeholder {
  opacity: 1;
  color: $cBlack;
}

:-ms-input-placeholder {
  opacity: 1;
  color: $cBlack;
}

::-ms-input-placeholder {
  opacity: 1;
  color: $cBlack;
}

::placeholder {
  opacity: 1;
  color: $cBlack;
}

//共通クラス
.sp-none {
  display: none;
}
.content-width {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: $contentMaxWidth;
}

//header
.header {
  background: $cWhite;
  height: 90px;
  padding: 15px 0;
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__left {
}
.header__left--logo {
  margin: 0;
  a {
    color: $cBlack;
    img {
      display: inline-block;
      margin-right: 5px;
      width: 26px;
      height: auto;
      vertical-align: middle;
    }
  }
}
.header__left--tel {
  margin: 0;
  a {
    color: $cBlueBk;
    img {
      display: inline-block;
      width: 24px;
      height: auto;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}
.header__right {
  margin-left: auto;
  width: 150px;
  height: 40px;
  padding: 10px;
  background: $cBlueBk;
  text-align: center;
  line-height: 16px;
}
.header__right--btn {
  span {
    width: 100%;
    height: 100%;
    color: $cWhite;
    padding-right: 10px;
    position: relative;
    font-weight: 300;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      top: 50%;
      right: 0%;
      width: 7px;
      height: 7px;
      border-top: 2px solid $cWhite;
      border-right: 2px solid $cWhite;
      transform: rotate(45deg);
      margin-top: -2px;
    }
  }
}

//main__visual
.main__visual {
  width: 100%;
  height: auto;
}
.main__visual--place {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: $cBlue;
  img {
    width: 275px;
    display: inline-block;
  }
}
.main__visual--image {
  margin-top: -5px;
  width: 100%;
  height: 300px;
  background: url(/image/main-bk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  position: relative;
  img.main__visual--logo {
    position: absolute;
    width: 50px;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
  }
  img.main__visual--sub {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 130px;
  }
}
.main__visual--content {
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom, $cBlue, $cBlueBk 30%, $cBlue);
  position: relative;
  img {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//needs
.needs {
  width: 100%;
  height: auto;
}
.needs__lead {
  width: 100%;
  height: 100%;
  background: url("../image/second-visual.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 40px 5px 20px;
  text-align: center;
}
.needs__lead--heading {
  margin: 0;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 700;
  font-weight: 500;
  color: $cWhite;
  line-height: 1;
  white-space: nowrap;
  text-shadow: 1px 0 5px $cBlueBk;
  br {
  }
  span.fifty {
    font-size: 32px;
  }
  span.needs__lead--border {
    display: inline-block;
    position: relative;
    padding: 0 13px;
    &::before {
      position: absolute;
      content: "";
      background: $cWhite;
      width: 1px;
      height: 45px;
      left: 0;
      top: 50%;
      transform: translateY(-50%) rotate(-10deg);
    }
    &::after {
      position: absolute;
      content: "";
      background: $cWhite;
      width: 1px;
      height: 45px;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(10deg);
    }
  }
}
.needs__lead--img {
  margin-top: 20px;
}
.needs__Q {
  width: 100%;
  background: #6199c7;
  padding-top: 40px;
  padding-bottom: 1px;
}
.needs__Q--lead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > img {
    width: 30px;
    height: 80px;
  }
}
.needs__Q--heading {
  text-align: center;
  h2 {
    display: inline-block;
    color: $cWhite;
    font-weight: 300;
    font-size: 18px;
    &::before {
      display: inline-block;
      content: "";
      background: url("../../image/check-white.png");
      background-size: cover;
      width: 20px;
      height: 20px;
    }
    span.dot {
      color: $cBlueBk;
      font-weight: 500;
      font-size: 30px;
      display: inline-block;
      position: relative;
      &::before {
        position: absolute;
        top: -65%;
        left: 50%;
        transform: translateX(-50%);
        transform: translateY(10%);
        content: ".";
      }
    }
  }
}
.needs__Q--description {
  background: $cWhite;
  padding: 10px 25px;
  position: relative;
  margin-bottom: 20px;
  filter: drop-shadow(0px 3px 5px #c0c0c0);
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 40px solid transparent;
    border-top: 30px solid $cWhite;
  }
  p {
    font-size: 16px;
    text-indent: -1rem;
    &::before {
      display: inline-block;
      content: "";
      background: url("../../image/check-black.png");
      background-size: cover;
      width: 20px;
      height: 20px;
    }
  }
}
.needs__A {
  width: 100%;
  height: auto;
  background-image: linear-gradient(180deg, transparent 96%, #c0c0c0 100%),
    linear-gradient(90deg, transparent 96%, #c0c0c0 100%);
  background-color: #fff;
  background-size: 15px 15px;
  padding: 10px 0;
}
.needs__A--description {
  max-width: 100%;
  height: 100%;
  border: 0;

  tr {
    text-align: center;
    th {
      width: 85px;
      height: 100px;
      img {
        width: 100px;
        height: 100%;
      }
    }
    td {
      text-align: left;
      span {
        width: calc(100% - 80px);
        color: $cBlue;
        font-size: 20px;
        background: linear-gradient(transparent 60%, #ff6 60%);
      }
    }
  }
}

//contact
.contact {
  background: #e4f5ef;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.contact__heading {
  position: relative;
  padding: 7px 10px;
  max-width: 100%;
  color: $cBlue;
  background: $cWhite;
  font-size: 19px;
  border-radius: 30px;
  box-shadow: 1px 0 5px #c0c0c0;
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top: 15px solid $cWhite;
  }
}
.contact__btn--green {
  color: $cWhite;
  background: $cGreen;
  font-size: 16px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact__btn--date {
  font-size: 16px;
}
.contact__btn--orange {
  border-radius: 5px;
  color: $cWhite;
  font-size: 16px;
  background: $cOrange;
  padding-top: 10px;
  padding-bottom: 10px;
}
//about
.about {
}
.about__company {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/image/third-visual.png") no-repeat center center / cover;
  h1 {
    margin: 0;
    text-align: center;
    color: $cBlue;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
  }
}
.about__description {
  background: #d2e2ef;
  padding: 10px;
}
.about__description--wrapper {
  background: $cWhite;
  padding: 10px;
  border-radius: 5px;
  img {
  }
  p {
  }
  .about__description--merker {
    background: linear-gradient(transparent 60%, #ff6 60%);
  }
  .about__description--blue {
    color: $cBlue;
  }
  .about__description--50 {
    border: 3px solid #ff6;
    font-weight: 300;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/image/50-bk.png") no-repeat center center / cover;
  }
  .about__description--50__wrapper {
    text-align: center;
    p {
      color: $cWhite;
      margin: 0;
      img {
        display: inline-block;
        width: 60px;
      }
    }
    & p:nth-child(3) {
      margin-top: 10px;
      font-weight: 500;
      border-bottom: 3px solid $cWhite;
      display: inline-block;
      font-size: 20px;
    }
    & p:nth-child(4) {
      font-size: 20px;
    }
  }
  .about__description--arrow {
    display: flex;
    justify-content: center;
    position: relative;
    img {
      margin-top: 10px;
      display: inline-block;
      width: 100px;
    }
    p {
      position: absolute;
      top: calc(50% - 10px);
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 300;
      color: $cWhite;
    }
  }
  .about__description--point {
    margin: -10px auto 0;
    background: #dfdfdf;
    padding: 10px;
    th {
      img {
        display: inline-block;
        width: 30px;
        margin-right: 5px;
      }
    }
    td {
      span {
        background: linear-gradient(transparent 60%, #ff6 60%);
      }
    }
  }
}

//merit
.merit {
}
.merit__heading {
  width: 100%;
  height: 250px;
  background: $cOrange;
  display: flex;
  align-items: center;
  justify-content: center;
}
.merit__heading--wrapper {
  text-align: center;
  h1 {
    margin: 0;
    color: $cWhite;
    font-size: 24px;
    font-weight: 500;
  }
  img {
    display: block;
    margin-top: 10px;
  }
}
.merit__kinds {
  background: rgba(#ff6400, 0.05);
  padding: 30px 10px;
}
.merit__kinds--wrapper {
  background: $cWhite;
  padding-top: 20px;
  padding-bottom: 40px;
}
.merit__kind {
  position: relative;
  z-index: 2;
  .merit__kinds--title {
    margin-left: -10px;
    img {
      width: 90%;
    }
  }
  p {
    span {
      color: #f0a537;
    }
  }
  &:nth-child(2) {
    .merit__kinds--title {
      margin-left: 0;
      margin-right: -10px;
      img {
        display: block;
        margin-left: auto;
      }
    }
  }
}

//company
.company {
}
.company__heading {
  padding-top: 50px;
  padding-bottom: 30px;
  background: url("/image/company-building.png") no-repeat center center / cover;
  text-align: center;
  h1 {
    margin: 0;
    color: $cBlue;
    font-weight: 500;
    font-size: 40px;
  }
  .company__heading--text {
    margin-top: 50px;
    img {
    }
  }
}
.company__data {
  background: url("/image/green-bk.png") no-repeat center center / cover;
}
.company__data--wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  h2 {
    margin: 0;
    font-weight: 500;
    padding: 0 1rem;
    border-left: 4px solid $cBlue;
    font-size: 16px;
  }
  p {
    font-size: 16px;
    margin: 0;
    &.company__data--label {
      margin: 0;
    }
  }
  ul {
    margin-left: 1rem;
    padding-left: 0.2rem;
    list-style-type: disc;
    list-style-position: inside;
    li {
      list-style: outside;
      font-size: 16px;
    }
  }
}

//voice
.voice {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  background-image: linear-gradient(180deg, transparent 96%, #c0c0c0 100%),
    linear-gradient(90deg, transparent 96%, #c0c0c0 100%);
  background-color: #fff;
  background-size: 15px 15px;
}
.voice__kinds--wrapper {
  border: 2px solid #C9ECE0;
  background: $cWhite;
  margin-top: -45px;
  margin-left: 15px;
  margin-right: 15px;
}
.voice__kinds--image{
  text-align: center;
  img {
    display: block;
    position: relative;
    z-index: 2;
    width: 100vw;
  }
}
.voice__kinds {
  padding-bottom: 20px;
}
.voice__kind {
  margin-top: 50px;
  p{
    margin: 0 auto;
    width: 90%;
  }
  span.voice__kind--merker{
    background: linear-gradient(transparent 60%, #ff6 60%);
  }
  &:last-child{
    margin-bottom: 20px;
  }
}
.voice__kind--title{
  margin: 0 auto 10px;
  border-collapse: separate;
  border-spacing: 10px 0;
  th{
    img{
      display: inline-block;
      width: 100px;
    }
  }
  td{
    span{
    }
  }
}
